.modal_window,
.spinner_window {
    .overlay {
        background-color: rgba(0, 0, 0, .35);
        grid-area: 1 / 1 / -1 / -1;
    }

    .holder {
        padding: $base * 3;
        grid-area: 2 / 2 / span 1 / span 1;
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
        border-radius: 3px;
        z-index: 2;
        
        .setting {
            display: flex;
            align-items: center;
            margin-bottom: $base * 2;

            .setting_icon {
                flex: 0 0 auto;
                margin-right: $base * 2;
            }

            .setting_label {
                flex: 1 1 100%;
            }

            .setting_toggle {
                flex: 0 0 auto;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin: 0px;
        }
    }

    &.modal_light {
        .overlay {
            @extend .bg_color2;
            opacity: .4;
        }

        .holder {
            background-color: transparent;
            box-shadow: none;
        }
    }
}


#modal_pause_window {
    background-color: #77f9db49;
    .settings {
        margin: 0 0 $base * 16;
    }

    .btn {
        display: block;
        margin-bottom: $base * 2;
    }
}

#modal_confirm {
    .message {
        margin: 0 0 $base * 4;
    }

    .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >* {
            margin: 0;
            min-width: initial;
        }
    }
}

#modal_loading_spinner {
    background-color: rgba(#fff, .3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}